*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-weight: 300;
}

.body-light{
  background-color: white;
  color: black;
}

.body-dark{
  background-color: black;
  color:white;
}

i{
 cursor: pointer;
}

.body-dark .bannerText{
  border : 1px solid white;
  box-shadow: none;
  border-radius: 0;

}

.body-dark .navbar ul li{
  color :white;
}


.socials #github{
  color:black;
}

.body-dark .socials #github{
  color:white;
}

.body-dark .socials i{
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.navbar {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}

.navbar ul{
  display: flex;
  flex-direction: column;
}

.navbar ul li{
  color : black;
  list-style-type: none;
  padding:15px;
  border-radius: 0.5rem;
}

.logo{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.banner {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bannerText{
  margin-top:5vh;
  border: none;
  border-width: 0;
  border-style: solid;
  padding:50px;
  border-radius: 1rem;
  box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.2);
}

.bannerText h1,h2,h4{
  font-weight: lighter;
  padding: 5px;
  letter-spacing: 5px;
}

.contact{
  min-height: 100vh;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align : center;
  z-index: 1;
}

.contact-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;

}

.map{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  border-radius:1rem ;
  box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.2);
  height: 80vh;

}

.body-dark .map{
  border-radius: 0;
  border:1px solid white;
}

.body-dark .map img{
  border-radius: 0;
}

.map img{
  object-fit: contain;
  width: 90%;
  margin-top: 3vh;
  border-radius: 1rem;
}

.links{
  text-decoration: none;
}

li:hover{
  transition: 0.2s all;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

.socials{
  margin-top : 5vh;
}

.socials i{
  padding : 20px;
  font-size : 2ch;
  box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.2);
  border-radius: 1rem;
  margin: 10px;
}

.socials i:hover{
  transform: scale(1.2,1.2);
  transition: 0.3s all;
}

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align : center;
  z-index: 1;
}

h5{
  font-weight: lighter;
}

.profile .profile-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:70%;
}

.profile .profile-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.profile .profile-left img{
  object-fit: contain;
  border-radius: 50%;
  height: 25vh;
  margin-top: 5vh;
  box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.4);

}

.li-active{
  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.2);
}

.body-dark li:hover{
  border-radius: 0;
  background-color: teal;
  color: black;
}
.body-dark .li-active{
  border-radius: 0;
  border-right : 2px solid teal;  
}

#toggleBtn{
  padding:10px;  
  margin-top: 5px;
  border-radius: 0.5rem;
  box-shadow: 3px 2px 7px 0px rgba(0,0,0,0.2) ;
}


@media only screen and (max-width:1000px){
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 10vh;
      width: 100%;
    }

    .navbar ul{
      display: flex;
      flex-direction: row;
    }

    .logo{
      justify-content: flex-start;
    }
    
    .profile {
      margin-top: 10vh;
    }

    .body-dark .li-active{
      border-right : none;
      border-bottom : 2px solid teal;  
    }
    
}