*{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-weight: 300;
}

.body-light{
  background-color: white;
  color: black;
}

.body-dark{
  background-color: black;
  color:white;
}

.body-dark i,.body-light i{
 font-size: 1rem;
 padding : 10px;
 letter-spacing: 1px;
 cursor: pointer;
}

.body-dark .bannerText{
  box-shadow: 10px 8px 16px 0px rgba(255,255,255,0.1);
}

.body-dark .navbar ul li{
  color :white;
}

.body-dark li:hover{
  color: white;
  border-right: 2px solid white;
}

.body-dark .socials i{
  color:white;
  border:1px solid white;
}

.socials #github{
  color:black;
}

.body-dark .socials #github{
  color:white;
}

.navbar {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;

}

.navbar ul{
  display: flex;
  flex-direction: column;
}

.navbar ul li{
  color : black;
  list-style-type: none;
  padding:15px;
}

.logo{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  z-index: 999;
}

.banner {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bannerText{
  margin-top:5vh;
  border: 1px;
  border-width: 1px;
  border-style: solid;
  padding:60px;
  box-shadow: 10px 15px 18px 0px rgba(0,0,0,0.2);
}

.bannerText h1,h2,h4{
  font-weight: lighter;
  padding: 5px;
  letter-spacing: 5px;
}

.contact{
  min-height: 100vh;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align : center;
  z-index: 1;
}

.contact-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;

}

.map{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  border: 1px solid black;
  box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.2);
  height: 80vh;

}

.body-dark .map{
  border: 1px solid white;
  box-shadow: 5px 8px 16px 0 rgba(255,255,255,0.1);
}

.map img{
  object-fit: contain;
  width: 90%;
  margin-top: 3vh;
}

.links{
  text-decoration: none;
}

li:hover{
  color:black;
  border-right: 2px solid black;
  transition: 0.2s all;
  background-color: teal;
}
.socials{
  margin-top : 5vh;
}

.socials i{
  padding : 20px;
  font-size : 2ch;
  border:1px solid black;
  border-radius: 2rem;
  margin: 10px;
}

.socials i:hover{
  transform: scale(1.1,1.1);
  transition: 0.3s all;
}

.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align : center;
  z-index: 1;
}

h5{
  font-weight: lighter;
}

.profile .profile-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:70%;
}

.profile .profile-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.profile .profile-left img{
  object-fit: contain;
  border-radius: 50%;
  height: 25vh;
  margin-top: 5vh;
}

@media only screen and (max-width:1000px){
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 10vh;
      width: 100%;
    }

    .navbar ul{
      display: flex;
      flex-direction: row;
    }

    .logo{
      justify-content: flex-start;
    }

    li:hover{
      border-right : none;
      border-bottom: 2px solid black;
      transition: 0.2s all;
    }

    .body-dark li:hover{
      border-right : none;
      border-bottom: 2px solid white;
      transition: 0.2s all;
    }
    
    .profile {
      margin-top: 10vh;
    }
}